<div class="container" >
      <nav class="navbar bg-light">
            <div class="container-fluid">
                  <a class="navbar-brand" href="#">
                  <h2>
                        <small class="text-muted"><b>Loan Details</b></small>
                        <button type="button" class="btn btn-outline-info" style="margin-left: 10rem;">Logout</button>
                     </h2> <hr>
                     </a>

            </div>
          </nav><br>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Loan Amount</span>
            <input type="text"  class="form-control"   readonly>
          </div>
          <br>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Interest</span>
            <input type="text"  class="form-control"   readonly>
          </div>
          <br>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Tenure</span>
            <input type="text"  class="form-control"   readonly>
          </div>
          <br>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Status</span>
            <input type="text"  class="form-control"  readonly>
          </div>
          <br>
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">Reason</span>
            <input type="text"  class="form-control"   readonly>
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-text">Feedback</span>
            <textarea class="form-control" aria-label="With textarea" placeholder="Feedback" required></textarea>
          </div>
          <br>
          <button type="button" class="btn btn-success">Send Feedback</button>

</div>
